<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>


    <node name="find_object_2d_node" pkg="find_object_2d" type="find_object_2d" output="screen">
        <remap from="image" to="/usb_cam/image_raw"/>
        <param name="gui" value="true" type="bool" />
        <param name="session_path" value="$(find ar_arm_package)/detected_object.bin"/>
        <param name="settings_paths" value="~/.ros/find_object_2d.ini" type="str" />
        
    </node>
</launch>