<?xml version="1.0" ?>

<launch>
    <include file="$(find xarm7_gripper_moveit_config)/launch/demo.launch" />

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>
    
    <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch" >
        <arg name="cam_image_topic" value="/usb_cam/image_raw" />
        <arg name="cam_info_topic" value="/usb_cam/camera_info" />
        <arg name="output_frame" value="/usb_cam" />
        <arg name="marker_size" default="4.5" />
    </include>

    
    <node pkg="tf2_ros" type="static_transform_publisher" name="link_eef_cam_broadcaster" args="0.4 0 0.7 -1.57 0 -1.57 link_base usb_cam" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="transformer_broadcaster1" args="0 0 0.1 1 0 0 0 ar_marker_0 artag" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_usb_cam" args="0.4 0 0.7 -1.571 0 -1.571 /world /usb_cam 100" /> -->
    <!-- <node name="ar_rviz" pkg="rviz" type="rviz" args="-d $(find ar_arm_package)/config/ar.rviz" /> -->
</launch>


