
<launch>
    
    <include file="$(find ar_tracking)/launch/usb_cam.launch" />
    
    <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch" >
        <arg name="cam_image_topic" value="/usb_cam/image_raw" />
        <arg name="cam_info_topic" value="/usb_cam/camera_info" />
        <arg name="output_frame" value="/usb_cam" />
        <arg name="marker_size" default="15.5" />
    </include>
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="link_eef_cam_broadcaster" args="0 0 0 0 0 0 link_eef usb_cam" />

</launch>

